---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


/* MY custom styles here */


hr {
  border-top: 1px solid $grey-color-light;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: $spacing-unit 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.7);
}


/* Hide the hamburger menu on mobile which does nothing since it's empty (note: in future if adding links to top then might need to change this) */
.site-nav {
	display: none;
}


/* headshot image in top bar */
#headshot {
	padding-right: 15px;
}


/* home icon justify right */
#homeIcon {
	margin-top: 15px;
	float: right;
}